# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Terrier Index
index/

# MongoDB
__pyterrier_output/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# Miscellaneous
.DS_Store
*.csv
